In [1]:
from dfply import *

In [11]:
@dfpipe
def myfunction(df, row, col):
    return df.iloc[row, col]

In [12]:
diamonds >> myfunction(3, 3)

'VS2'

In [13]:
diamonds >> summarize_each((np.mean, np.std), X.table, X.price)

   table_mean  table_std   price_mean    price_std
0   57.457184    2.23447  3932.799722  3989.402758

In [3]:
diamonds >> groupby('cut') >> mutate(xtimesy = X.x*X.y, ytimesz=X.y*X.z) >> head(2)

,carat,cut,color,clarity,depth,table,price,x,y,z,xtimesy,ytimesz
8,0.22,Fair,E,VS2,65.1,61.0,337,3.87,3.78,2.49,14.6286,9.4122
91,0.86,Fair,E,SI2,55.1,69.0,2757,6.45,6.33,3.52,40.8285,22.2816
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,16.4835,9.4017
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,18.8790,11.9625
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,15.7210,9.6714
11,0.23,Ideal,J,VS1,62.8,56.0,340,3.93,3.90,2.46,15.3270,9.5940
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,14.9376,8.8704
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,17.7660,11.1249
5,0.24,Very Good,J,VVS2,62.8,57.0,336,3.94,3.96,2.48,15.6024,9.8208
6,0.24,Very Good,I,VVS1,62.3,57.0,336,3.95,3.98,2.47,15.7210,9.8306

In [3]:
d = diamonds >> select(['cut','color','carat','price']) >> gather('variable','value', add_id=True)

In [4]:
d >> head(5)

   _ID variable    value
0    0      cut    Ideal
1    1      cut  Premium
2    2      cut     Good
3    3      cut  Premium
4    4      cut     Good

In [5]:
d >> spread('variable', 'value', convert=True) >> head(2)

   _ID  carat color      cut  price
0    0   0.23     E    Ideal    326
1    1   0.21     E  Premium    326

In [6]:
@Pipe
@GroupDelegation
@SymbolicEvaluation
@reference_args
def tmpfunc(df, arg1, arg2, arg3=False):
    print arg1, arg2, arg3

In [7]:
diamonds >> tmpfunc('hi','there')

hi there False

In [8]:
def tempfunc(*args, **kwargs):
    print args, kwargs
    
    
tempfunc(1,2,3,4,arg=10, arg2=12)

(1, 2, 3, 4) {'arg2': 12, 'arg': 10}

In [ ]:
(1,2,3,4)
1, 2, 3, 4