In [1]:
from dfply import *

In [2]:
diamonds >> head(3)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31

In [3]:
d = diamonds >> select(['cut','color','carat','price']) >> gather('variable','value', add_id=True)

In [4]:
d >> head(5)

   _ID variable    value
0    0      cut    Ideal
1    1      cut  Premium
2    2      cut     Good
3    3      cut  Premium
4    4      cut     Good

In [7]:
d >> spread('variable', 'value', convert=True) >> head(2)

_ID        int64
carat    float64
color     object
cut       object
price      int64
dtype: object

In [ ]:
def temp(arg, arg2, arg3=False):